
main {
   margin:0 auto;
    width:67%;
    padding:0 0;
     .container {
         margin:0 auto 60px auto;
         padding:0;
         width:100%;
         &:after {
              content: "";
              display: block;
              clear:both;
            }
            
        //左カラム
        .left-side {
            float:left;
            box-sizing:border-box;
            .eye-catch {
                .owl-carousel {
                    
                }
            }
            .guide {
                .title {
                    width:100%;
                    margin-bottom:20px;
                }
                .row {
                    width:100%;
                    display:flex;
                    .gui {
                    width:50%;
                    margin:2px;
                    padding:20px;
                    box-sizing:border-box;
                    background-color:white;
                    h4, h5 {
                        @include fontsize(16);
                        font-weight:bold;
                        color:$brown1;
                        margin-bottom:18px;
                    }
                    h5 {
                         @include fontsize(12);
                         font-weight:bold;
                         margin-bottom:13px;
                    }
                    p {
                         @include fontsize(12);
                         font-weight:bold;
                         margin-bottom:20px;
                    }
                    img {
                        max-width:100%;
                    }
                }
                }
                
                
            }
        }
        
        
        //右カラム
        .right-side {
            width:26%;
            margin:0;
            padding-left:20px;
            float:left;
            .search {
                box-sizing:border-box;
                padding:20px;
                margin-bottom:10px;
                background-color:#fff;
                img {
                    max-width:100%;
                    margin-bottom:12px;
                }
                .search-box {
                    width:100%;
                    background-image:url(../image/top/search_icon.png);
                    background-repeat:no-repeat;
                    background-position:96% center;
                    background-color:#eee;
                    height:30px;
                    @include fontsize(15);
                        color:black;
                        text-align:left;
                        margin:0;
                        border:none;
                        border-radius:0;
                       @include placeholder {
                            // ここに書く...
                            color: #b5b5b5;
                             @include fontsize(11);
                            line-height: 1;
                            font-style:italic;
                        }
                       
                    }
                    
                
            }
            .pagelink {
                box-sizing:border-box;
                background-color:$brown1;
                padding:14px;
                margin-bottom:10px;
                background-image:url(../image/top/next_icon.png);
                background-repeat:no-repeat;
                background-position:96% center;
                img {
                    max-width:100%;
                }
            }
            
            .categories {
                .brown {
                    box-sizing:border-box;
                    background-color:$brown1;
                    padding:14px;
                    background-image:url(../image/top/down_icon.png);
                    background-repeat:no-repeat;
                    background-position:96% center;
                    
                    .r {
                        line-height:30px;
                        float:right;
                    }
                    img {
                    max-width:100%;
                }
                }
                ul {

                    li {
                        cursor:pointer;
                        display:block;
                        box-sizing:border-box;
                        vertical-align: middle;
                        background-color:#fff;
                        padding:14px;
                        margin:1px;
                        background-image:url(../image/top/next_icon.png);
                        background-repeat:no-repeat;
                        background-position:96% center;
                        p { 
                            margin:0;
                            @include fontsize(12);
                            font-weight:bold;
                        }
                       
                        
                    }
                }
            }
            .about, .info {
                margin-bottom:10px;
                .link {
                    box-sizing:border-box;
                    background-color:$brown1;
                    padding:14px;
                    img {
                    max-width:100%;
                }
                    
                }
                .box {
                    box-sizing:border-box;
                    padding:12px;
                    background-color:#fff;
                    .intro-img {
                        width:100%;
                    }
                    .img {
                        padding:0;
                        margin:0;
                        text-align:center;
                        p { 
                            padding:0;
                            margin:0;
                            text-align:left;
                            font-weight:bold;
                            @include fontsize(12);
                        }
                        img {
                            margin:18px 0 5px 0;
                            max-width:100%;
                        }
                        
                    }
                }
                
            }
        }
    }
}
        
        



//スマホ向け
@media (max-width: 550px) {
    body {
        box-sizing:border-box;
        padding:10px;
    }
    
    main {
   margin:0 auto;
   width:100%;
   
    padding:0 0;
     .container {
         margin:0 auto 60px auto;
         padding:0;
         width:100%;
         &:after {
              content: "";
              display: block;
              clear:both;
            }
            
        //上カラム
        .left-side {
            float:left;
            box-sizing:border-box;
            .guide {
                
                .title {
                    display:none;
                }
                .sp-title {
                    display:block;
                    margin:0 auto;
                    margin-bottom:16px;
                }
                .row {
                    width:100%;
                    display:flex;
                    flex-direction:column;
                    .gui {
                    width:100%;
                    margin:2px;
                    padding:20px;
                    box-sizing:border-box;
                    background-color:white;
                    h4, h5 {
                        @include fontsize(18);
                        font-weight:bold;
                        color:$brown1;
                        margin-bottom:18px;
                    }
                    h5 {
                         @include fontsize(14);
                         font-weight:bold;
                         margin-bottom:13px;
                    }
                    p {
                         @include fontsize(14);
                         font-weight:bold;
                         margin-bottom:20px;
                    }
                    img {
                       max-width:100%;
                    }
                }
                }
                
                
            }
        }
        
        
        //下カラム
        .right-side {
            width:100%;
            padding-left:0px;
            float:left;
            .search {
                box-sizing:border-box;
                padding:20px;
                margin:20px 0 20px 0;
                background-color:#fff;
                img {
                   display:none;
                }
                .search-box {
                    width:100%;
                    background-image:url(../image/top/search_icon.png);
                    background-repeat:no-repeat;
                    background-position:96% center;
                    background-color:#eee;
                    height:30px;
                    @include fontsize(15);
                    font-weight:normal;
                        color:black;
                        text-align:left;
                        margin:0;
                        border:none;
                        border-radius:0;
                       @include placeholder {
                            color: #b5b5b5;
                             @include fontsize(11);
                            line-height: 1;
                            font-style:italic;
                        }
                       
                    }
            }
            .pagelink {
                box-sizing:border-box;
                background-color:$brown1;
                padding:14px;
                margin-bottom:10px;
                background-image:url(../image/top/next_icon.png);
                background-repeat:no-repeat;
                background-position:96% center;
            }
            
            .categories {
                .brown {
                    box-sizing:border-box;
                    background-color:$brown1;
                    padding:14px;
                    background-image:url(../image/top/down_icon.png);
                    background-repeat:no-repeat;
                    background-position:96% center;
                    .r {
                        line-height:30px;
                        float:right;
                    }
                }
                ul {

                    li {
                        display:block;
                        box-sizing:border-box;
                        vertical-align: middle;
                        background-color:#fff;
                        padding:14px;
                        margin:1px;
                        background-image:url(../image/top/next_icon.png);
                        background-repeat:no-repeat;
                        background-position:96% center;
                        p { 
                            margin:0;
                            @include fontsize(13);
                            font-weight:bold;
                        }
                       
                        
                    }
                }
            }
            .about, .info {
                margin-bottom:10px;
                .link {
                    box-sizing:border-box;
                    background-color:$brown1;
                    padding:14px;
                    
                }
                .box {
                     &:after {
                          content: "";
                          display: block;
                          clear:both;
                         }
                    box-sizing:border-box;
                    padding:12px;
                    background-color:#fff;
                    .intro-img {
                        width:50%;
                        box-sizing:border-box;
                        padding-right:12px;
                    }
                    .img {
                        text-align:left;
                        width:50%;
                        float:right;
                         p { 
                        float:none;
                        margin-bottom:8px;
                        @include fontsize(14);
                       }
                       img {
                           margin:0;
                           padding:0;
                       }
                    }
                }
            }
        }
    }
}
}
